<h2 class="my-5">Your Saved Recipes</h2>
<hr>
<% if @recipes.count.positive?%>
  <% @recipes.each_with_index do |recipe, index| %>
    <div class="card my-3">
      <div class="card-header">
        <%= recipe.name %>
      </div>
      <div class="card-body">
        <p class="text-muted"><%= recipe.description %> </p>
        <a href="delete/<%= index %>" class="btn btn-sm btn-danger">Delete Recipe</a>
        <a href="done/<%= index %>"  class="btn btn-sm btn-success <%= "disabled" if recipe.done == "true" %> ">Mark as Done</a>
      </div>
    </div>
  <% end %>
<% else %>
  <h4>Sorry, you have no recipes added yet!
  <% end %>
  <hr>
  <a class="btn btn-primary text-white" href="/new">Add new</a>
  <a class="btn btn-dark text-white" href="/import">Import from web</a>
